// button.scss

button {
	font-size: 1em;
	padding: 0.3em 0.5em;
	text-align: center;
	vertical-align: middle;
	border: none;
	border-radius: 1px;
	box-shadow: $box-shadow;
	text-shadow: $text-shadow;
	color: white;
	cursor: pointer;
}

.link {
	font-size: 1em;
	padding: 0.3em 0.5em;
	text-align: center;
	vertical-align: middle;
	border: none;
	border-radius: 1px;
	box-shadow: $box-shadow;
	text-shadow: $text-shadow;
	color: white;
	cursor: pointer;
}

.button {
	font-size: 1em;
	padding: 0.3em 0.5em;
	text-align: center;
	vertical-align: middle;
	border: none;
	border-radius: 1px;
	box-shadow: $box-shadow;
	text-shadow: $text-shadow;

	color: white;
	cursor: pointer;
}

.button-primary {
	background: $color-active;

	&:hover {
		background: $color-active-hover;
	}
}

.button-secondary {
	color: black;

	&:hover {
		background: $color-clean-hover;
	}
}

.button-destructive {
	background: $color-destructive;

	&:hover {
		background: $color-destructive-hover;
	}
}

.button-search {
	margin: 0;
	border: 1px solid $color-passive-hover;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background: white;
	color: black;

	&:hover {
		background: $color-active;
		color: white;
	}
}

.button-badge {
	background: $color-passive;
	margin: 0 0.4em 0.5em 0;

	&:hover {
		background: $color-passive-hover;
	}
}

.button-badge-active {
	background: $color-active;
	margin: 0 0.4em 0.5em 0;

	&:hover {
		background: $color-active-hover;
	}

	&:after {
		content: " \f00d";
		font-size: 0.8em;
		font-family: FontAwesome;
	}
}

.button-reset {
	background: $color-clean;
	color: black;
	margin-top: 0.5em;

	&:hover {
		background: $color-clean-hover;
	}
}
