// _variables.scss

$color-hsr: linear-gradient(57deg, #0065a3 0%, #0071b8 100%);

$color-active: linear-gradient(57deg, #0065a3 0%, #0071b8 100%);
$color-active-hover: #0065a3;

$color-passive: linear-gradient(57deg, #79838c 0%, #6c757d 100%);
$color-passive-hover: #6c757d;

$color-clean: linear-gradient(57deg, #ccdeed 0%, #cee1f0 100%);
$color-clean-hover: #ccdeed;

$color-destructive: linear-gradient(to bottom right, #cf3e39 0%, #f74a44 100%);
$color-destructive-hover: #cf3e39;

$box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1),
	inset 0 -10px 20px rgba(0, 0, 0, 0.1);
$text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
