// header.scss

@import "./components/variables";

header {
	background: $color-hsr;
	margin: 0;
	padding: 0;
	height: 4em;
	line-height: 4em;
	text-align: center;

	h1 {
		font-size: 2em;
		color: white;
		margin: 0;
		font-weight: 100;
	}
}
